body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #FDFDBD;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.img-profile {
  width: 25%;
}

.intro {
  width: 30%;
  margin: auto;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.img-skill-row1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-skill-row2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #B1AFFF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

h1 {
  color: #B1AFFF;
  font-size: 6.25rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #B1AFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #B1AFFF;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: white;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #B1AFFF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C8FFD4;
  text-decoration: none;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}
